body {
    background-color: black; /* Ustawienie czarnego tła dla całej strony */
    color: white; /* Ustawienie białego koloru tekstu */
    font-family: Arial, sans-serif; /* Ustawienie czcionki */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

#takButton {
    background-color: green; /* Ustawienie zielonego tła dla przycisku "Tak" */
    color: white; /* Ustawienie białego koloru tekstu */
}

#takButton:hover {
    background-color: darkgreen; /* Kolor tła po najechaniu kursorem na przycisk "Tak" */
}

#nieButton {
    background-color: red; /* Ustawienie czerwonego tła dla przycisku "Nie" */
    color: white; /* Ustawienie białego koloru tekstu */
}

#nieButton:hover {
    background-color: darkred; /* Kolor tła po najechaniu kursorem na przycisk "Nie" */
}

#response {
    margin-top: 30px;
}

.gif-animation {
    max-width: 100%;
    height: auto;
}
